article.section
  div.sec-header.sec-pro-header
    span.sec-title-cn 其他
    span.sec-title-en Others
  div.sec-main
    ul.sec-list
      - each item in Others
        li.list-item.list-content-item #{item}

